.disqus-thread {
  margin-top: 2rem;
}

.post__tags {
  border-left: 1px solid rgba(138, 138, 138, 0.5);
  margin-left: 0.25rem;
  padding-left: 0.5rem;
}

.post__tags > * + * {
  margin-left: 0.375rem;
}

.post__tags > a {
  text-decoration: underline;
}

.hidden {
  display: none;
}
